body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #d6edea;
  background-image: url('https://th.bing.com/th/id/OIP.RdoBBnYkumw7M-PwOC82qQHaHa?rs=1&pid=ImgDetMain');
}

.app {
  text-align: center;
  background-color: #427d89;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

h1 {
  color: #fffdfd;
}
